.checklist {
  list-style: none;
  padding: 0;
  margin: 0 0 18px 0;
  text-align: left;
}

.checklist li {
  font-size: 1.05rem;
  color: #222;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.checklist i {
  color: #1976d2;
  font-size: 1.2em;
}


.subtitulo {
  font-size: 1.3rem;
  color: #1b1b1b;
  margin-bottom: 18px;
}