<div class="codigo-container">
  <h5 class="mb-3 text-center">Confirme o seu código</h5>

  <form class="codigo-form">
    <div class="code-inputs">
      <input type="text" class="code-input rounded-2" maxlength="1" data-index="0">
      <input type="text" class="code-input  rounded-2" maxlength="1" data-index="1">
      <input type="text" class="code-input  rounded-2" maxlength="1" data-index="2">
      <input type="text" class="code-input  rounded-2" maxlength="1" data-index="3">
      <input type="text" class="code-input  rounded-2" maxlength="1" data-index="4">
      <input type="text" class="code-input  rounded-2" maxlength="1" data-index="5">
    </div>

    <div id="message" class="message"></div>


    <button type="submit" class="btn-confirmar mt-4 w-100">Confirmar</button>
  </form>
</div>