<div class="form-section m-4" id="section2">
    <div class="step-header">
        <div class="step-number">1</div>
        <h2 class="step-title">Dados Pessoais</h2>
        <p class="step-description">Por favor digite o numero de telefone para confirmar a sua identidade</p>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" id="personalDataForm">
        <div class="d-flex flex-column">
            <div class="col mb-3">
                <label class="form-label"><span class="obrigatorio">*</span> Telemóvel</label>
                <input type="tel" class="form-control py-3" maxlength="9" formControlName="phone" />
                @if (campoInvalido('phone')) {
                <div class="text-danger p-2">
                    <small>Número de telemóvel inválido</small>
                </div>
                }
            </div>
        </div>

        <div class="d-flex flex-column gap-3 my-3">
            <button type="submit" class="btn btn-primary py-3">
                <i class="fas fa-arrow-right me-2"></i> Avançar
            </button>
            <button type="button" class="btn btn-outline-secondary py-3" (click)="irParaHome()">
                <i class="fas fa-arrow-left me-2"></i> Voltar
            </button>
        </div>
    </form>
</div>