<div class="form-section m-4" id="section2">
    <div class="my-4">
        <h2>Dados Pessoais</h2>
        <p class="text-dark-emphasis">Por favor, preencha os seus dados pessoais.</p>
    </div>
    <div class="w-100 " id="resultForm">
            @if (formulario.valid && formulario.touched) {
            <div class="alert alert-success">
                Dados preenchidos compreem com os requisitos minimos!</div>
            }
            @else if (formulario.invalid && formulario.touched) {
            <div class="alert alert-warning">
                Por favor, preencha os campos obrigatórios.
            </div>
            }
        </div>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" id="personalDataForm">
        <div class="d-flex flex-column">
            <div class="col mb-3">
                <label class="form-label"><span class="obrigatorio">*</span> Nome</label>
                <input type="text" class="form-control py-3" formControlName="nome" required>
            </div>
            <div class="col  mb-3">
                <label class="form-label">Apelido</label>
                <input type="text" class="form-control py-3" formControlName="apelido">
            </div>
            <div class="col  mb-3">
                <label class="form-label"><span class="obrigatorio">*</span>Número do BI</label>
                <input type="text" class="form-control py-3" formControlName="biNumber" required>
            </div>
            <div class="col  mb-3">
                <label class="form-label"><span class="obrigatorio">*</span>Telemóvel</label>
                <input type="tel" class="form-control py-3" formControlName="phone" required>
            </div>
            <div class="col  mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control py-3" formControlName="email">
            </div>
        </div>
        
        <div class="d-flex flex-column gap-3 my-3">
            <button type="submit" class="btn btn-primary py-3">
                <i class="fas fa-arrow-right me-2"></i>Avançar
            </button>
            <button type="button" class="btn btn-outline-secondary py-3" (click)="irParaHome()">
                <i class="fas fa-arrow-left me-2"></i>Voltar
            </button>
        </div>
    </form>
</div>